@font-face {
  font-family: 'open_sansregular';
  src: url('../fonts/OpenSans-Regular-webfont.eot');
  src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       /* url('../fonts/OpenSans-Regular-webfont.woff') format('woff'), */
       url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
       url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

body {
  font-family: 'open_sansregular';
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-size: 40px;
  /* background-image: url('./platzi.png'); */
}